<h1>Places you've visited!</h1>

<% @visits.each do |visit| %>
<ul>
  <li><%= visit.city.name %> | <%= visit.city.country.name%> | <%= visit.city_rating %> stars</li>
  <%= link_to "Delete", [@user,visit], method: :delete %>
</ul>
<% end %>
