<h1>All Countries</h1>
<ul>
<% @countries.each do |country| %>

    <li>
      <%= link_to country.name, country_path(country)%>
      <%= link_to "| Delete", country, method: :delete if can? :destroy, @country %>
    </li>

<% end %>
</ul>

