<h1>Most Visited Country: <%= @country.name %> </h1>

<h3>Cities:</h3>
<ul>
  <% @country.cities.rated.each do |city| %>

      <%= render :partial => "rankedcities", :locals => {:city => city}%>
    <% end %>
  <% @country.cities.unrated.each do |city| %>
      <%= render :partial => "unrankedcities", :locals => {:city => city}%>

  <% end %>
</ul>