<h1>Most Visited Country: <%= @country.name %> </h1>

<h3>Cities:</h3>
<ul>
  <% @country.cities.each do |city| %>
    <% if city.visited? %>
      <%= render :partial => "rankedcities", :locals => {:city => city}%>
    <% else %>
      <%= render :partial => "unrankedcities", :locals => {:city => city}%>
    <% end %>
  <% end %>
</ul>