<h1>Most Visited Country: <%= @country.name %> </h1>

<h3>Cities:</h3>
<ul>

    <%= render :partial => "rankedcities", :locals => {:cities => @country.cities.rated}%>

    <%= render :partial => "unrankedcities", :locals => {:cities => @country.cities.unrated}%>
</ul>