<h1><%= @country.name %></h1>

<h3>Cities:</h3>
<ol>
  <%= render :partial => "rankedcities", :locals => {:cities => @country.cities.rated}%>

  <%= render :partial => "unrankedcities", :locals => {:cities => @country.cities.unrated}%>
</ol>


<%= link_to "Edit Country", edit_country_path(@country) if can? :update, Country%>
