<h1><%= @country.name %></h1>

<h3>Cities:</h3>
<ol>
  <% @country.ranked_cities.each do |city|%>

    <%= render :partial => "rankedcities", :locals => {:city => city}%>

  <% end %>
  <% @country.unranked_cities.each do |city|%>

    <%= render :partial => "unrankedcities", :locals => {:city => city}%>

  <% end %>
</ol>

<% if can? :update, City %>
<%= link_to "Edit Country", edit_country_path(@country)%>
<% end %>