<% if notice %>
  <p><%= notice %></p>
<% end %>

<h2>All Cities:</h2>

<ul>

  <%= render :partial => "countries/rankedcities", :locals => {:cities => @cities.rated}%>

  <%= render :partial => "countries/unrankedcities", :locals => {:cities => @cities.unrated}%>

</ul>

