<% if notice %>
  <p><%= notice %></p>
<% end %>

<h2>All Cities:</h2>
<ul>
<% @cities.each do |city|%>
  <% if city.visited? %>
      <%= render :partial => "countries/rankedcities", :locals => {:city => city}%>
    <% else %>
      <%= render :partial => "countries/unrankedcities", :locals => {:city => city}%>
    <% end %>
<% end %>
</ul>