<% if notice %>
  <p><%= notice %></p>
<% end %>

<h2>All Cities:</h2>

<ul>
<% @cities.rated.each do |city|%>

      <%= render :partial => "countries/rankedcities", :locals => {:city => city}%>
 <% end %>

 <% @cities.unrated.each do |city|%>
      <%= render :partial => "countries/unrankedcities", :locals => {:city => city}%>
<% end %>
</ul>